$ticket_scraper_blue: #114563;
$ticket_scraper_green: #0F8A83;
$ticket_scraper_darker_blue: #00314F;
$ticket_scraper_grey: #A3A3A3;
$ticket_scraper_light_blue: #DEEBFF;
$home_white : #FAF0E6;
$home_light_grey : #9D9185;
$home_dark_grey: #5F5852;
$home_light_orange: #C34E0D;
$home_dark_orange: #923E0F;