@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');
@font-face {
  font-family: 'Niagara Solid';
  src: url('../../public/fonts/NIAGSOL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$ticket-scraper-blue: #114563;
$ticket-scraper-green: #0F8A83;
$ticket-scraper-darker-blue: #00314F;
$ticket-scraper-grey: #A3A3A3;
$ticket-scraper-light-blue: #DEEBFF;
$home-white : #FAF0E6;
$home-light-grey : #9D9185;
$home-dark-grey: #5F5852;
$home-light-orange: #C34E0D;
$home-dark-orange: #923E0F;
$home-light-yellow: #FAF0E6;