@import "./variables";

.upper-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.large-screen-header {
    display: none;
}

.rc-logo {
  justify-content: center;
}

@media (min-width: 576px) {
    .large-screen-header {
        display: block;
    }
    .rc-logo {
      justify-content: end;
    }
}
