@import "./variables";

.upper-header {
  display: flex;
}

.side {
  flex: 1;
  height: 100%;
  margin-left: 1vw;
  margin-top: 1vw;
}

.large-screen-header {
    display: none;
}

.rc-logo-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
}



@media (min-width: 576px) {
    .large-screen-header {
        display: block;
    }
    // .rc-logo {
    //   justify-content: end;
    // }
}


