@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
  margin: auto
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 500px;
  margin: auto;
  /* text-align: center; */
  margin-top: 50px;
  background-color: #fafaeb

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    text-align: left;
    margin: 10px;
}
